@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1D1D1D;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}


.masthead-canvas {
  width: 100%;
  height: 100vh;
}

.masthead-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

.masthead-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate3d(-50%, -50%, 0);

}

.masthead-text>h1 {
  margin: 0;
  font-size: 5em;
  background: linear-gradient(30deg, #D61424, #ee0505);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.masthead-tagline {
  color: white;
  padding-top: 15px;
  padding-left: 7px;
  justify-content: space-around;
  font-weight: 700;
  text-transform: uppercase;
}

.wrap {
  padding-top: 30px;
  width: 300px;
  margin-left: 7px;
}


.wrap a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  /* max-width: 250px; */
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
}

a.button {
  color: #D61424;
  box-shadow: rgba(214, 20, 36, 1) 0 0px 0px 2px inset;
}

a.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: rgba(214, 20, 36, 1) 0 80px 0px 2px inset;
}

/* SIDEBAR */

.sidebar {
  width: 120px;
  height: 100%;
  /* backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */
  background: rgba(10, 10, 10, 1);
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, .09);
  transition: .4s ease-in-out;
  position: fixed;
  z-index: 10;
}

.sidebar.open {
  width: 360px;
}

.sidebar .logo {
  width: 100%;
  height: 240px;
  padding: 40px 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.sidebar .logo img {
  width: 56px;
  transition: .4s;
}

.sidebar.open .logo img {
  width: 145px;
}

.sidebar .logo h3 {
  color: #fff;
  font-size: 36px;
  margin-top: 12px;
  text-transform: uppercase;
  /* font-variant: small-caps; */
  pointer-events: none;
  scale: 0;
  opacity: 0;
}

.sidebar.open .logo h3 {
  scale: 1;
  opacity: 1;
  transition: .4s;
  transition-delay: .2s;
}

.sidebar .nav-title {
  color: #dadada;
  margin: 40px 0 18px;
  pointer-events: none;
  opacity: 0;
}

.sidebar.open .nav-title {
  opacity: 1;
  transition: .4s;
  transition-delay: .2s;
}

.sidebar nav {
  padding: 0 30px;
}

.sidebar nav .nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  color: #fff;
  transition: .3s;
  text-transform: uppercase;
}

.sidebar nav .nav-item.active {
  background: #d61424 !important;
  /* background: #c850c0 !important; */
}

.sidebar nav .nav-item:hover {
  background: rgba(255, 255, 255, .1);
}

.sidebar nav .nav-item i {
  font-size: 26px;
}

.sidebar nav .nav-item span {
  font-size: 18px;
  margin-left: 8px;
  opacity: 0;
  pointer-events: none;
}

.sidebar.open nav .nav-item span {
  opacity: 1;
  pointer-events: visible;
  transition: .4s;
  transition-delay: .3s;
  font-weight: 700;
}

.sidebar hr {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin: 40px 0 50px;
  background: rgba(255, 255, 255, .1);
  opacity: 0;
}

.sidebar.open hr {
  opacity: 1;
  transition: .4s;
}

.sidebar .toggle {

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  color: #d61424;
  transition: .3s;
  font-size: 30px;
}



.sidebar .toggle span {
  font-size: 18px;
  margin-left: 8px;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
}

.sidebar.open .toggle span {
  opacity: 1;
  transition: .5s linear;
  transition-delay: .2s;
  font-weight: 700;
}


.sidebar .toggle i {
  transition: .4s linear;
}

.sidebar.open .toggle i {
  transform: rotateY(180deg);
}

.resume-back {
  background: white;
  color: #d61424 !important;
}

/* TITLE DIVDERS */

.title-divider {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 50px;

}

.title-descriptions>header {
  font-size: 4em;
  color: #d61424;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.title-descriptions {
  max-width: 1000px;
  margin-left: 150px;
}

.title-descriptions>p {
  color: white;
  line-height: 1.5;
}

.title-divider-button {
  width: 200px;
  margin-top: 50px;
}

.title-divider-button a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  /* max-width: 250px; */
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
}

.opacity-reduce-title {
  position: absolute;
  margin-top: -20px;
  left: 48vw;
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.04);
  font-weight: 700;
  letter-spacing: -30px;

}

.section-work {
  overflow: hidden;
  min-height: 0;
  position: relative;
  /* opacity: 0; */
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}




/* ABOUT SECTION */

.about-canvas {
  order: 2;
  flex: 1;
  height: 100%;
}

/* Include this part for phone size only (ABOUT SECTION ONLY) */
/* overflow: visible !important */


.about-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.about-text {
  position: relative;
  order: 1;
  flex: 1;
  pointer-events: none;
  background-color: #1D1D1D;
  height: 100vh;
  color: white;
  padding: 5%;
}

.about-text>p {
  margin-left: 100px;
}

.about-top {
  background-color: black;
  box-shadow: 0 0 20px rgba(248, 10, 10, 1);
  padding: 5%;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px
}

.about-bottom {
  background-color: black;
  box-shadow: 0 0 20px rgba(248, 10, 10, 1);
  padding: 5%;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px
}


/*  */

@media only screen and (max-aspect-ratio: 8/7) {
  .main {
    flex-direction: column;
  }

  .about-canvas {
    order: 1;
    width: 100%;
    overflow: visible !important;
    height: 355px !important;
  }

  /* canvas {
    
  } */

  .about-text {
    order: 2;
    width: 100%;
    max-width: 100%;
  }

}